{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}.com</title>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styls.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display:swap">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-white">
	<a href="#"><img src="{% static 'img/logo_1.png' %}"></a>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-rg-0" style="font-size: 18px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill"></i>HOME</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#about" for="about"><i class="bi bi-file-person-fill"></i>ABOUT</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#service" for="service"><i class="bi bi-patch-question-fill"></i>SERVICE</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#contact" for="contact"><i class="bi bi-envelope-fill"></i>CONTACT</a>
        </li>
       </ul>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
	<div class="container text-white text-center">
		<h1 class="display-1" style="padding-top: 90px; font-size: 95px;">{{title}}</h1>
	</div>
</div>

<div class="container-fluid">
	<div class="container bg-white text-dark text-center" style="margin-top: 32px">
		<div class="row row-md">
		<h3>What we do?</h3>
		<p>Temuan arkeologi di Anyer menunjukkan adanya budaya logam perunggu dan besi sebelum milenium pertama. Gerabah tanah liat prasejarah zaman buni (Bekasi kuno) bisa ditemukan merentang dari Anyer sampai Cirebon.[butuh rujukan]

		Wilayah Jawa Barat pada abad ke-5 merupakan bagian dari Kerajaan Tarumanagara.[butuh rujukan] Prasasti peninggalan Kerajaan Tarumanagara banyak tersebar di Jawa Barat. Ada tujuh prasasti yang ditulis dalam aksara Wengi (yang digunkan dalam masa Palawa India) dan bahasa Sansakerta yang sebagian besar menceritakan para raja Tarumanagara.[butuh rujukan]
		</p>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container bg-light text-center text-dark shadow">
		<div class="row">
			<h3 style=" margin-top: 5px;">Provinsi</h3>
			<nav class="list-on">
				<ul class="me-auto">
					{% for link, name in provinsi %} 
					<li  style="margin-right: 30px;">
						<a class="nav-link active text-dark" aria-current="page" href="{{link}}">{{name}}</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container bg-white text-dark text-center">
		<div class="row" id="about">
			<h2 class="container display-6">About Us</h2>
		  	<p>Kami adalah perusahan jasa iklan yang bergerak di bidang teknologi informasi yang mencangkup pasar dengan skala internasional. Kami menyediakan jasa pembuatan iklan yang ingin anda buat, tapi kami hanya membuat untuk orang yang berjualan makanan. Tujuan kami adalah untuk memudahkan para pengguna mencari makanan khusunya para turis atau penduduk indonesia sendiri yang bingung dalam mencari makanan yang enak khas tradisional di berbagai daerah di Indonesia.
		  	</p>
		</div>
	</div>
</div>

<div class="service">
	 <div class="service-cards-wrapper">
        <div class="service-cards" id="service">
            <h2 class="text-center">Peta</h2>
            <p></p>
        </div>

        <div class="service-cards" id="contact">
            <h2 class="text-center">Contact Us</h2>
            <p><b>INDONESIAN</b></p>
            <P>Email : {{email}}</P>
            <p>Instagram : {{instagram}}</p>
        </div>
    </div>
</div>

</body>
</html>