.jumbotron {
	background-image: url('/static/img/gedungsate.jpg');
	background-position: center;
	background-size: cover;
	height: 70vh;
}

nav a:hover{
	background-color: #e6e2eb;
	border-radius: 10px;
}
.list-on li{
	list-style: none; 
	font-size: 20px; 
	text-transform: uppercase;
}
.list-on a:hover{
	color: whitesmoke;
	border-radius: 20px;
}
.service{
  width: 100%;
}
.service-cards-wrapper{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-top: 5px;
}
.service-cards{
  flex: 1 1 250px;
  max-width: 550px;
  margin: 30px 15px;
  background-color: #fff;
  color: #565656;
  padding: 10px 15px 25px;
  position: relative;
}
.service-cards p{
  padding-top: 5px;
}