nav a:hover{
	background-color: #e6e2eb;
	border-radius: 10px;
}
.heading {
	margin-top: 20px;
}
.service-cards-wrapper{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.service-cards{
  flex: 1 1 250px;
  max-width: 250px;
  margin: 30px 5px;
  text-align: center;
  background-color: #fff;
  color: #565656;
  padding: 30px 15px 1px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}
.service-cards button{
  padding: 10px 90px;
  background-color: transparent;
  border: none; outline: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.service-cards button:hover{
  color: #565656;
  background-color: transparent;
  border: 1px solid #565656;
}
.service-cards img{
  background-position: center;
  background-size: cover;
  width: 100%; height: 60%;
}
