{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-white">
    <a href="#"><img src="{% static 'img/logo_1.png' %}"></a>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-rg-0" style="font-size: 18px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-fill"></i>HOME</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-file-person-fill"></i>ABOUT</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-patch-question-fill"></i>SERVICE</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-envelope-fill"></i>CONTACT</a>
        </li>
       </ul>
    </div>
  </div>
</nav>