<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME | Kelas tertutup.com</title>
    <link href="index.css">
</head>
<body>
<header>
    <nav>
        <h1>Background</h1>
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/list">list</a>
             <ul>
                <li><a href="">makan</a></li>
                <li><a href="">minum</a></li>
                <li><a href="">makan</a></li>
             </ul>
            </li>
            <li><a href="/community">community</a></li>
            <li><a href="/faq">faq</a></li>
        </ul>

    </nav>
</header>

<nav>
<h1 id="about">about</h1>
    <p>
        hallo
    </p>
</nav>

</body>
</html>